/* Wipe Transition - Tile-based Loader */
.wipe-transition-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.loader__tile {
    position: absolute;
    width: 0;
    height: 20%;
    transition: width 0.5s ease;
    /* Default: hide off-screen to prevent flash on phase change */
    left: -100%;
    right: auto;
}

/* Direction: left - enters from left, exits to right */
.loader--left.loader--entering .loader__tile {
    left: 0;
    right: auto;
}

.loader--left.loader--exiting .loader__tile {
    left: auto;
    right: 0;
}

/* Direction: right - enters from right, exits to left */
.loader--right.loader--entering .loader__tile {
    left: auto;
    right: 0;
}

.loader--right.loader--exiting .loader__tile {
    left: 0;
    right: auto;
}

/* Idle state - tiles hidden */
.loader--idle .loader__tile {
    width: 0;
}

/* Assign each tile a different color: blue, purple, white, magenta, cyan */
.loader__tile:nth-child(1) {
    top: 0%;
    background-color: #2563eb;
}

.loader__tile:nth-child(2) {
    top: 20%;
    background-color: var(--accent-purple);
}

.loader__tile:nth-child(3) {
    top: 40%;
    background-color: #000000;
}

.loader__tile:nth-child(4) {
    top: 60%;
    background-color: var(--accent-magenta);
}

.loader__tile:nth-child(5) {
    top: 80%;
    background-color: var(--accent-cyan);
}

/* Entering state - tiles expand to fill screen */
.loader--entering .loader__tile {
    width: 100%;
}

.loader--entering .loader__tile:nth-child(1) {
    transition-delay: 0s;
}

.loader--entering .loader__tile:nth-child(2) {
    transition-delay: 0.1s;
}

.loader--entering .loader__tile:nth-child(3) {
    transition-delay: 0.2s;
}

.loader--entering .loader__tile:nth-child(4) {
    transition-delay: 0.3s;
}

.loader--entering .loader__tile:nth-child(5) {
    transition-delay: 0.4s;
}

/* Exiting state - tiles retract with stagger */
.loader--exiting .loader__tile {
    width: 0;
}

.loader--exiting .loader__tile:nth-child(1) {
    transition-delay: 0s;
}

.loader--exiting .loader__tile:nth-child(2) {
    transition-delay: 0.1s;
}

.loader--exiting .loader__tile:nth-child(3) {
    transition-delay: 0.2s;
}

.loader--exiting .loader__tile:nth-child(4) {
    transition-delay: 0.3s;
}

.loader--exiting .loader__tile:nth-child(5) {
    transition-delay: 0.4s;
}
